<%if @blog.background.blank? %>
    <div class="container-fluid fondo_bloguer">
    <%else%>
    <div class="container-fluid" style="background-image: url('<%=@blog.background.url(:medium)%>');  background-repeat: no-repeat; background-size:cover; height: 400px">
    <%end%>
  <header>
    <div class="row">
      <div class="col-md-12">
        <nav class="nav_bloguer">
          <ul>
            <li>
              <%= link_to('home', root_path)%>
            </li>
            <% if bloguer_signed_in? %>
                <li>
                  <%= link_to('Logout', destroy_bloguer_session_path, :method => :delete) %>
                </li>
                <li>
                  <%= link_to('Perfil', perfil_path(current_bloguer))%>
                </li>
                <li>
                  <%= link_to('Mis Posts', posts_path) %>
                </li>
            <% else %>
                <li>
                  <%= link_to('Login', new_bloguer_session_path)  %>
                </li>
                <li>
                  <%= link_to("Quieres ser un Bloguer?", getting_path) %>
                </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row vertical-align">
      <div class="col-md-4 text_center">
        <%if @blog.avatar.blank?%>
            <%= image_tag asset_url("perfil.png"), class: "avatar" %>
            <%else%>
            <%= image_tag @blog.avatar.url(:medium), class: "avatar" %>
            <%end%>
        <div class="row">
          <h3 class="text_white" style="text-transform: capitalize;">
            <%= @blog.name %> <%= @blog.lastname %>
          </h3>
        </div>
        <div class="row">
          <a class="redes_bloguer" href="<%= @blog.facebook %>"><i class="fa fa-facebook"></i></a>
          <a class="redes_bloguer" href="<%= @blog.twitter %>"><i class="fa fa-twitter"></i></a>
          <a class="redes_bloguer" href="<%= @blog.youtube %>"><i class="fa fa-youtube"></i></a>
          <a class="redes_bloguer" href="<%= @blog.instagram %>"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-md-8">
        <h1 class="blog_text">
          <%if @blog.text.blank? %>
            Bienvenido a mi blog...!
              <%else%>
              <%= @blog.text%>
          <%end%>
        </h1>
      </div>
    </div>
  </header>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">

      <!-- blog lateral izq -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-8271065065744793"
           data-ad-slot="7636622660"
           data-ad-format="auto"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h2 class="text_orange">
          Destacados
        </h2>
        <div class="under_blue"></div>
        <div class="row text_center">
          <% @post.each do |post| %>
              <div class="col-md-3 col-md-offset-1 post" style="margin-bottom: 20px">
                <a href="<%= post_path(post) %>"><%= image_tag post.picture.url(:medium), class: "home_post_img" %></a>
                <div class="row">
                  <h3>
                    <%= post.title %>
                  </h3>
                  <div class="col-md-6">

                  </div>
                  <div class="col-md-6">
                    <strong>
                      <%= post.impressionist_count %> <i class="fa fa-eye"></i>
                    </strong>
                  </div>
                </div>
              </div>
          <%end%>
        </div>
      </div>
      <!-- publicidad-->
      <div class="row">
        <div class="col-md-12">

          <!-- bloguer debajo destacados -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-8271065065744793"
               data-ad-slot="1991238263"
               data-ad-format="auto"></ins>
          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
      <!--post last -->
      <div class="row">
        <h2 class="text_orange">
          Ultimos posts
        </h2>
        <div class="under_blue"></div>
        <div class="row text_center">
          <% @posts.each do |post| %>
              <div class="col-md-3 col-md-offset-1 post" style="margin-bottom: 20px">
                <a href="<%= post_path(post) %>"><%= image_tag post.picture.url(:medium), class: "home_post_img" %></a>
                <div class="row">
                  <h3>
                    <%= post.title %>
                  </h3>
                  <div class="col-md-6">

                  </div>
                  <div class="col-md-6">
                    <strong>
                      <%= post.impressionist_count %> <i class="fa fa-eye"></i>
                    </strong>
                  </div>
                </div>
              </div>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-md-2">

      <!-- blog lateral der -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-8271065065744793"
           data-ad-slot="1590089061"
           data-ad-format="auto"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>