<%= render "layouts/nav_blog_perfil" %>
<%= render "layouts/facechat" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!-- publicidad -->
      <div class="row">
        <div class="col-md-12">
          <!-- publicidad -->
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- home lateral der new -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-8271065065744793"
               data-ad-slot="6159889461"
               data-ad-format="auto"></ins>
          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <!-- content -->
      <div class="row">
        <div class="col-md-12">
          <div class="froala-view">
            <h1><%= @post.title %></h1>
            <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
            </div>
            <%= image_tag @post.picture.url(:medium)%>
            <%if @post.body.blank? %>
                <%else%>
                <% str=@post.body %>
                <%= CGI.unescapeHTML(str).html_safe %>
            <%end%>
          </div>
        </div>
        <div class="col-md-12">
          <div class="fb-like" data-href="http://timeofmadnees.com/posts/<%= @post.id %>" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
        <div class="col-md-12">
          <div class="fb-comments" data-href="https://www.facebook.com/timeofmadnessblog/post/<%= @post.id %>" data-numposts="5"></div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12">
          <!-- publicidad -->
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- home lateral der new -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-8271065065744793"
               data-ad-slot="6159889461"
               data-ad-format="auto"></ins>
          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid footer">
  <footer>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">

      </div>
      <div class="col-md-12 text_center">
        <h4>Time of Madness</h4>
      </div>
    </div>
  </footer>
</div>





