<%= render "layouts/nav_blog_perfil" %>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1031371466877255',
            xfbml      : true,
            version    : 'v2.3'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!-- publicidad -->
      <div class="row">
        <div class="col-md-12">
          <!-- publicidad -->

          <!-- home lateral der new -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-8271065065744793"
               data-ad-slot="6159889461"
               data-ad-format="auto"></ins>

        </div>
      </div>
    </div>
    <div class="col-md-8">
      <!-- content -->
      <div class="row">
        <div class="col-md-12">
          <div class="froala-view">
            <h1><%= @post.title %></h1>
            <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
            </div>
            <%= image_tag @post.picture.url(:medium)%>
            <%if @post.body.blank? %>
                <%else%>
                <% str=@post.body %>
                <%= CGI.unescapeHTML(str).html_safe %>
            <%end%>
          </div>
        </div>
        <div class="col-md-12">
          <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
          </div>
        </div>
        <div class="col-md-12">
          <div class="fb-comments" data-href="https://www.facebook.com/timeofmadnessblog/post/<%= @post.id %>" data-numposts="5"></div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12">
          <!-- publicidad -->
          <!-- home lateral der new -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-8271065065744793"
               data-ad-slot="6159889461"
               data-ad-format="auto"></ins>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid footer">
  <footer>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">

      </div>
      <div class="col-md-12 text_center">
        <h4>Time of Madness</h4>
      </div>
    </div>
  </footer>
</div>





