<div class="container-fluid post_bloguer">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <nav class="post_nav">
        <ul>
          <li>
            <%= link_to('home', root_path) %>
          </li>
          <% if bloguer_signed_in? %>
              <li>
                <%= link_to('Logout', destroy_bloguer_session_path, :method => :delete) %>
              </li>
              <li>
                <%= link_to('Perfil', perfil_path(current_bloguer))%>
              </li>
              <li>
                <%= link_to('Mis Posts', posts_path) %>
              </li>
          <% else %>
              <li>
                <%= link_to('Login', new_bloguer_session_path)  %>
              </li>
              <li>
                <%= link_to("Quieres ser un Bloguer?", getting_path) %>
              </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>